<form action="/salvarperguntas" method="POST">
  <label>Titulo:</label>
  <input type="text" placeholder="Titulo" class="form-control" name="titulo">
  <label>Descrição:</label>
  <textarea placeholder="Descreva sua pergunta aqui"  class="form-control" name="descricao"></textarea><br>
  <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
</form>