<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <div class="card" id="formulario-pergunta">
        <div class="card-header">
          <h3>Realizar pergunta</h3>
        </div>
        <div class="card-body">
          <%- include('partials/form.ejs') %>
        </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
